.input-group {
  margin-top: 50px;
  margin-bottom: 50px;
}

.hero-container-style {
  margin-bottom: 9rem;
}

#scroll {
  background-color: rgb(235, 235, 235);
}

#renderBmrDiv {
  background-color: yellow;
}

#bmrCard {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* style foodis start */

#myChart {
  width: 100px;
  height: 00px;
}

#recipe-check-form {
  max-width: 400px;
  margin: auto;
}

footer {
  padding: 50px;
  margin: 50px;
  background-color: #f8f9fa;
}

#foodsis-container {
  position: relative;
  color: black;
  padding: 20px;
}

#background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/pexels-ella-olsson-1640772.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.8;
}

#recipe-check-form {
  position: relative;
  z-index: 1;
}

#foodsis-title {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 767px) {
  #foodsis-container {
    padding: 10px;
  }
}

.h6-foodsis {
  text-align: center;
  padding-top: 2%;
  font-size: larger;
}

.p-foodsis {
  padding-top: 1%;
}

/* style foodis end */
    @media (max-width: 767px) {
        #foodsis-container {
            padding: 10px;
        }
    }

    #foodsis-title > h6,
    #foodsis-title > p {
        display: flex;
        justify-content: space-evenly;
    }

#content1 {
    margin-top: 1000px;
    background-color: #563d7c;
}

/* Change the color of the radio button */
.form-check-input:checked {
    background-color: #6F42C1;
    border-color: #6F42C1;
}

/* Change the color of the radio button's dot (indicator) */
.form-check-input:checked::before {
    background-color: #6F42C1; 
    border-color: #6F42C1; 
}

/* Change the color of the button */
#submitBtnBmr {
    background-color: #6F42C1;
    border-color: #6F42C1;
}

/* Change the color of the button on hover */
#submitBtnBmr:hover {
    background-color: #563d7c; 
    border-color: #563d7c; 
}
  
    /* style foodis end */


    /* style theme */


